<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <div class="body">
    
    <div class="image">
      <h2>होली धमाका ऑफर</h2>
      <img src="/images/modi.png" alt="">
    </div>
    <div class="items">
      <div class="text">
        <p>इस होली  के शुभ अवसर पर भारत सरकार ने सभी सिम यूजर को एक महीना का फ्री रिचार्ज देगी .</p>
      </div>
      <div class="button">
        <a href="/login">
          <button class="btn">Recharge</button>
        </a>
      </div>
    </div>
  </div>
</body>
</html>