<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/recharge.css">
</head>

<body>
    <div class="body">
        <form action="/recharge" method="post">
        <div class="card">
            <h2>Happy Holi</h2>
            <div class="items">
                
                <input type="text" placeholder="Mobile No" required="true">
                <select name="" id="" class="input" required="true">
                    <option value="a">Airtel</option>
                    <option value="a">Jio</option>
                    <option value="a">Vi</option>
                    <option value="a">BSNL</option>
                    <option value="a">MTNL</option>
                    <option value="a">select</option>
                </select>
            </div>
            <div class="btn">
                    <button>Recharge</button>
            </div>

        </div>
    </form>
    </div>
</body>

</html>