<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/success.css">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <div class="card">
            <p class="text">
                आपका रिचार्ज अगले 24 घंटे में हो जायेगा thankyou.
            </p>
            <a href="/">
                <button class="btn">Back</button>
            </a>
        </div>
    </div>
</body>
</html>